.view {
    margin-top: 2%;
    display: flex;
    gap:100px;
    text-align: left;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(158, 154, 154, 0.288);
    font-size: 1.05rem;
}

.address {
    width: 100px;   
}

.time {
    margin-left: 6%;
    width: 100px;
}

.flow {
    margin-left: 2%;
    width: 160px;
}

.flowRate {
    margin-left: 4%;
    width: 20px;
    text-align: left;
}

.onGoing {
    margin-left: 3%;
}

.icon div{
    display: inline-block;
}

.pen {
    height: 30px;
    width: 30px;
    background-color: rgba(49, 190, 66, 0.178);
    color: green;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 7px;
    margin-right: 10px;
    cursor: pointer;
}

.cross {
    height: 30px;
    width: 30px;
    background-color: rgba(221, 99, 99, 0.284);
    color: red;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 7px;
    cursor: pointer;
}