.card {
    border-radius: 20px;
    box-shadow: rgba(133, 133, 133, 0.2) 0px 2px 8px 0px;
    width: 370px;
    height: 180px;
    text-align: center;
    margin-bottom: 8%;
    transition-duration: 0.3s;
}

.card h2{
    padding-top: 40px;
    font-size: 17px;
    font-weight: 600;
}

.animation {
    margin-top: 4%;
}

.coins {
    margin-top: 4%;
}

.third {
    width: 43px;
    position: relative;
    left: 170px;
    font-size: 1.4rem;
    color: #29bf0b;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-direction: alternate;
}


.fourth {
    color: green;
    font-size: 1.8rem;
}

@keyframes rotate-center {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%);
    }
  }


.logo {
    color:green;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 5%;
    position: relative;
    top:3px;
}

.coin {
    display: inline-block;
}

.side {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.side div {
    display: inline-block;
}

.animation div {
    display: inline-block;
}
.card:hover {
    box-shadow: rgba(93, 126, 140, 0.12) 0px 2px 4px 0px, rgba(78, 114, 129, 0.32) 0px 2px 16px 0px;
}