.landingPage {
    /* height: 100vh; */
    margin-top: 10%;
}

.details {
    display: inline-block;
}

.details h1 {
    margin-top: 17%;
    font-size: 45px;
    font-weight: 700;
}

.details h4 {
    margin-top: 12px;
    font-size: 17px;
}

.details button {
    margin-top: 28px;
}

.video {
    width: 565px;
    perspective: 600px;
    height: 415px;
    border-radius: 10px;
    border: 1px solid rgba(53, 55, 64, 0.323);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.01);
    float: right;
    margin-right: 3%;
    transform: translate(-5%, 0px) rotateY(-2deg);
}

.video video{
    margin-top:10px;
}