.details {
    margin-top: 7%;
    width: 90%;
    margin-right: 12%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding-bottom: 2%;
}

.details div{
    display: inline-block;
    margin:0 5%;
}


.details h1 {
    margin-left: 4%;
    background-color: rgba(247, 177, 0, 0.179);
    width: 150px;
    color: #bf920b;
    font-size: 1.25rem;
    border-radius:0 0 10px 10px;
    margin-bottom: 20px;
    text-align: center;
}

.details h3 {
    text-align: center;
    font-size: 1.24rem;
}