.subscriber {
    width: 68%;
    height: 45px;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 8px;
    border: 1px solid rgb(228, 220, 220);
}

.shares {
    width: 20%;
    height: 45px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 8px;
    border: 1px solid rgb(228, 220, 220);   
}

.shares:focus {
    outline: none !important;
    border: 1px solid #efc035;
}

.subscriber:focus {
    outline: none !important;
    border: 1px solid #efc035;
}

.cancel {
    font-size: 1.8rem;
    color: rgb(220, 30, 30);
    position: relative;
    top: 5px;
    left:15px;
    cursor: pointer;
}