.page {
    margin-top: 10%;
    margin-left: 13%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    width: 50%;
    padding-bottom: 1%;
    margin-bottom: 3%;
}

.page h1 {
    text-align: center;
    font-size: 1.6rem;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.page label {
    margin-left: 15%;
}

.page h2{
    font-size: 1.2rem;
    margin-top: 2%;
    margin-bottom: 2%;
}


.button {
    margin-left: 27%;
}