@tailwind base;
@tailwind components;
@tailwind utilities;

/* [data-theme='emerald'] {
    color:black;
    background-color: white;
    --my-color:white;
}

[data-theme='halloween'] {
    color: white;
    background-color: black;
    --my-color:black;
} */
html,
body {
    font-family: 'Mukta', sans-serif;
    margin: 6px 5px;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}